@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@layer base {
  body,
  html {
    overflow-x: visible;
    cursor: none;
  }
  a {
    cursor: none;
  }
}

.tw-spacing {
  @apply mx-4 sm:mx-8 md:mx-24 lg:mx-32
}

.tw-link {
  @apply bg-gradient-to-r from-tw-secondary to-tw-secondary pb-1 bg-[length:0_2px] bg-no-repeat bg-[0_100%] duration-300 hover:bg-[length:100%_2px]
}

.tw-line {
  @apply w-full h-[1px] bg-tw-gray
}

.text-stroke-primary {
  color: transparent;
  -webkit-text-stroke: 1px #147dfa;
  font-weight: 900;
}

.text-stroke-white {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

::-webkit-scrollbar {
  background: #111111;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #147dfa;
  border-radius: 999px;
}

.tw-post {
  @apply leading-relaxed;
}
.tw-post h1 {
  @apply text-3xl font-extrabold;
}
.tw-post h2 {
  @apply text-2xl font-bold;
}
.tw-post h3 {
  @apply text-xl font-bold;
}
.tw-post :is(h1, h2, h3) {
  @apply text-tw-primary mt-8 mb-2;
}
.tw-post li {
  @apply pl-4 list-inside;
}
.tw-post ul li {
  @apply list-disc;
}
.tw-post ol li {
  @apply list-decimal;
}


