@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    overflow-x: visible;
    cursor: none;
    font-family: 'Inter', 'Noto Sans TC', sans-serif;
  }
  a {
    cursor: none;
  }
}

.tw-spacing {
  @apply mx-4 sm:mx-8 md:mx-24 lg:mx-32
}

.tw-link {
  @apply bg-gradient-to-r from-tw-secondary to-tw-secondary pb-1 bg-[length:0_2px] bg-no-repeat bg-[0_100%] transition-[background] duration-300 hover:bg-[length:100%_2px]
}

.tw-line {
  @apply w-full h-[1px] bg-tw-gray
}

.text-stroke-primary {
  color: transparent;
  -webkit-text-stroke: 1px #147dfa;
  font-weight: 900;
}

.text-stroke-white {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

::-webkit-scrollbar {
  background: #111111;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #147dfa;
  border-radius: 999px;
}

.tw-post {
  @apply leading-relaxed;
}
.tw-post h1 {
  @apply text-4xl font-extrabold mt-8 mb-2 bg-gradient-to-r from-tw-primary to-purple-600 inline-block bg-clip-text text-transparent;
}
.tw-post h2 {
  @apply text-3xl font-extrabold mt-16 bg-gradient-to-r from-tw-primary to-purple-600 inline-block bg-clip-text text-transparent;
}
.tw-post h3 {
  @apply text-lg font-bold mt-4 mb-2 text-tw-primary;
}
.tw-post li {
  @apply pl-4 list-inside;
}
.tw-post ul, .tw-post ol {
  @apply mt-4
}
.tw-post ul li {
  @apply list-disc;
}
.tw-post ol li {
  @apply list-decimal;
}
.tw-post p img {
  width: 80%;
}
@media (width < 480px) {
  .tw-post p img {
    width: 100%;
  }
}

