.postItem:hover::before {
  opacity: 1;
}

.postItem::before {
  content: '';
  position: absolute;
  inset: -5px;
  background:radial-gradient(circle at var(--x) var(--y),rgba(20, 125, 250, 0.1), transparent 60%), rgba(0,0,0,0.1);
  opacity: 0;
  transition: .5s;
}